h1,h2,h3,h4,h5,p,body{ /*This overrides default margin and padding of some html elements*/
	margin:0px;
	padding: 0px;
}

header{	/*Makes header Content appear in row.*/
	background-color:#1ABC9C;
	display: flex;
	flex-direction: row;
	width:100%;
	
}

.logo{
	width:100%;
	
}

.limg{ /*resize image*/
	 width:150px;
	 height:150px;
}

.mbar{
	width:100%;							
	list-style: none;
	display: flex;
	flex-direction:row;
	/*Starts link items from end of the page*/
	justify-content: space-around;
	padding-top:8.5%;
	margin:0px;
}


.mnote{
	text-decoration: none;
	color: white;
	/*google font*/
	font-family: 'Josefin Slab', serif;
	font-size: 1.5em;
	padding:0px;
}

.menu{
	margin:0px;
	padding:7px;
	border-radius: 14px;
	/*gives time for the transition for background colour*/
	transition: background-color 1s
}

.menu:hover{
	/*Changes colour during hover*/										
	background-color:#0c7d67;
	
}

section{
	/*sets  whole background into an image by repeating a image*/
	background-image: url(../images/bg.jpg); 
	background-position:left top;		
	background-repeat: repeat;	
	/*end of code for background image*/			
	color:black;
	font-size: 1.1em;
	font-family: 'Tillana', cursive;
	padding-top:120px;
	padding-bottom:5%;
	display:flex;
	text-align: justify;
	flex-direction:row;
	justify-content:space-around;
	width: 100%;

}

.photo{
	/*Gives shadow to the image and round look defining the transiton time interval*/
	border: 4px solid white;
	border-radius:100px;
	box-shadow:2px 3px 20px 9px grey;
	transition:2s;
	height: 200px;
	width:200px;
}

.pics1{										
	width:20%;
	
}

.photo:hover{
	/*Increases image size during hover*/								
	transform:scale(1.2,1.2);
}


.a{
	/*Gives proper position to the link items*/
	width:100%;
	margin-top: 28px;
	padding-left:9%;
	padding-right: 9%;
	text-align: justify;

}

footer{
	/*Arrange footer content coloumn wise*/
	background-color: #272727;
	display: flex;
	flex-direction: column;				

}
.social{
	padding-left: 40%;
	width:45%;

}

.fnote{
	padding-right: 2%;
}

.links{
	display: flex;
	width:45%;
	flex-direction: row;
	/*Arrange footer links with spacing*/
	justify-content: space-between;		
	color:white;
	list-style: none;
	padding-left: 30%;

}
.snote{
	padding-right: 3%;
	height: 50px;
	width: 50px;
}

.all{
	width: 100%;
	padding-top: 1%;
}

.text{
	color:white;
	padding-top:3px;
	padding-left:79%;
	font-size:10pt;
}

.fnote{
	text-decoration: none;
	color:white;

}

/*When the device width is reduced to 800px header fills up the width 
and displays other contents in columns respectively.All code for mobile responsiveness are written below*/
@media all and (max-width:800px){
	.logo{width:100%;}
	.mbar{width:98.5%;flex-direction:column;padding: 0%;border:2px solid white;}
	header{display:flex;flex-direction:column;}
	.photo{margin-left:18px;}
	.social{display:flex;flex-direction:column;}
	.text{padding:0%;}
	.pics1{width:70%;}
	section{display:flex;flex-direction: column;}
	.a{margin-top:20px;margin-left:12px;margin-right:12px;margin-bottom:20px;}
	
}